.cuerpo-landing {
  width: 100%;
  background-color: rgb(0, 150, 200);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
  transition-duration: 3s; }
  .cuerpo-landing#home {
    background-image: url(../img/landing_noche.jpg); }
  .cuerpo-landing#contacto {
    background-image: url(../img/landing_dia.jpg); }
  .cuerpo-landing .landing-sombra {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

.landing-texto#home, .landing-texto#contacto {
  font-size: 25px;
  padding: 175px 10px; }
  @media (max-width: 639px) {
    .landing-texto#home, .landing-texto#contacto {
      font-size: 20px;
      padding: 60px 10px; } }
