@charset "UTF-8";
/* Fuentes tipogr├íficas */
@font-face {
  font-family: "Open Sans";
  font-font-weight: normal;
  font-font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Light";
  font-font-weight: normal;
  font-font-style: normal;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }
/* Reset, declaraci├│n tipogr├ífica y bloqueo de selecci├│n */
* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif';
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* Declaraci├│n tipogr├ífica en p├írrafos y footer */
p, footer {
  font-family: 'Open Sans Light', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif'; }

/* Encuadre */
.encuadre #header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
@media (min-width: 640px) {
  .encuadre {
    width: 100%;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto; } }

/* Body */
body {
  background: rgb(20, 20, 20); }

/* h1 */
h1 {
  margin-top: 20px;
  margin-bottom: 10px; }

/* Botones */
button {
  margin: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  color: rgb(0, 150, 250);
  cursor: pointer; }

/* Transparencias */
.opaco {
  opacity: 1; }

.semitransparencia {
  opacity: 0.5; }

/* Loading con Ajax */
.loading {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999999; }

.loading-texto {
  top: 50%;
  width: 100%;
  text-align: center;
  position: fixed; }

/* Cuerpo y secciones */
#cuerpo {
  padding-bottom: 20px; }

.seccion {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 20px; }
  .seccion:first-child {
    border-top: none; }

/* Div contenedor del header */
header#estructura-header {
  width: 100%;
  background: linear-gradient(to bottom, black 0%, transparent 100%) repeat scroll 0% 0%;
  padding-bottom: 2.5px;
  color: #141414;
  position: absolute;
  transition-duration: 0.5s; }
  @media (max-width: 639px) {
    header#estructura-header {
      position: fixed; }
      header#estructura-header:hover {
        background-color: rgba(0, 0, 0, 0.5); } }
  header#estructura-header:hover ul.encabezado-navegacion, header#estructura-header:hover nav.encabezado-navegacion {
    display: block; }

/* Icono menu */
#icono-menu-responsive {
  display: none; }
  @media (max-width: 639px) {
    #icono-menu-responsive {
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 40px;
      margin-left: 15px; } }

/* Logo */
.encabezado-logotipo {
  margin: 10px;
  width: 210px;
  height: 50px;
  background-image: url(../img/brand.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: middle; }

/* Navegaci├│n */
nav.encabezado-navegacion {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 10px; }
  @media (max-width: 639px) {
    nav.encabezado-navegacion {
      display: none;
      float: none; } }

@media (max-width: 639px) {
  ul.encabezado-navegacion {
    display: none; } }

li.navegacion-item {
  display: inline-block;
  padding: 10px;
  opacity: 0.5;
  transition-duration: 0.75s;
  cursor: pointer;
  vertical-align: middle;
  color: #c8c8c8 !important; }
  @media (max-width: 639px) {
    li.navegacion-item {
      display: block; } }
  li.navegacion-item:hover {
    opacity: 1; }

/* Footer */
footer {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  opacity: 0.75;
  font-size: 13px; }
