@charset "UTF-8";
/* Div contenedor del header */
header#estructura-header {
  width: 100%;
  background: linear-gradient(to bottom, black 0%, transparent 100%) repeat scroll 0% 0%;
  padding-bottom: 2.5px;
  color: #141414;
  position: absolute;
  transition-duration: 0.5s; }
  @media (max-width: 639px) {
    header#estructura-header {
      position: fixed; }
      header#estructura-header:hover {
        background-color: rgba(0, 0, 0, 0.5); } }
  header#estructura-header:hover ul.encabezado-navegacion, header#estructura-header:hover nav.encabezado-navegacion {
    display: block; }

/* Icono menu */
#icono-menu-responsive {
  display: none; }
  @media (max-width: 639px) {
    #icono-menu-responsive {
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 40px;
      margin-left: 15px; } }

/* Logo */
.encabezado-logotipo {
  margin: 10px;
  width: 210px;
  height: 50px;
  background-image: url(../img/brand.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: middle; }

/* Navegaci├│n */
nav.encabezado-navegacion {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 10px; }
  @media (max-width: 639px) {
    nav.encabezado-navegacion {
      display: none;
      float: none; } }

@media (max-width: 639px) {
  ul.encabezado-navegacion {
    display: none; } }

li.navegacion-item {
  display: inline-block;
  padding: 10px;
  opacity: 0.5;
  transition-duration: 0.75s;
  cursor: pointer;
  vertical-align: middle;
  color: #c8c8c8 !important; }
  @media (max-width: 639px) {
    li.navegacion-item {
      display: block; } }
  li.navegacion-item:hover {
    opacity: 1; }
