.cuerpo-landing{
	/*height: 375px;*/
	width: 100%;
	background-color: rgb(240, 150, 0);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	text-align: center;
	transition-duration: 3s;
}
	.cuerpo-landing.proximamente{
		background-image: url(../img/landing_noche.jpg);
	}
	.landing-sombra{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.landing-texto.proximamente{
		font-size: 30px;
		padding: 175px 10px;
	}
#cuerpo h1{
	margin-top: 20px;
	margin-bottom: 10px;
}
.cuerpo-item{
	display: inline-block;
	width: 200px;
	vertical-align: text-top;
	margin: 10px;
	opacity: 0;
	transition-duration: 0.5s;
}
	.item-cuadrado, .item-circulo{
		height: 175px;
		width: 175px;
		background-color: rgb(60, 60, 60);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	.item-circulo{border-radius: 100%;}
		.item-circulo#rojo{background-color: rgb(200, 0, 0);}
		.item-circulo#naranja{background-color: rgb(200, 100, 0);}
		.item-circulo#anaranjado{background-color: rgb(200, 175, 0);}
		.item-circulo#amarillo{background-color: rgb(240, 240, 0);}
		.item-circulo#azul-claro{background-color: rgb(0, 100, 200);}
		.item-circulo#azul-oscuro{background-color: rgb(0, 0, 100);}

		.item-cuadrado#portfolio-factorrhcreativo{background-image: url("../img/Portfolio_factorrhcreativo.png");}
		.item-cuadrado#portfolio-clubbaldomero{background-image: url("../img/Portfolio_clubbaldomero.png");}

	.item-texto{
		padding-top: 10px;
		vertical-align: text-top;
	}

.actividad-usuario{
	padding: 20px;
	max-width: 600px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	text-align: left;
}
.actividad-usuario:last-child{
	border-bottom: none;
}
	.actividad-usuario-imagen{
		width: 80px;
		height: 105px;
		background-color: rgb(50, 50, 50);
		display: inline-block;
		vertical-align: middle;
	}
	.actividad-usuario-descripcion{
		vertical-align: middle;
		display: inline-block;
		max-width: 500px;
	}

.opaco{
	opacity: 1;
}
.semitransparencia{
	opacity: 0.5;
}