//Responsive
$movil: "(max-width: 639px)";
$escritorio: "(min-width: 640px)";

// Parametros 
$ColorFondoCover: "rgb(0, 150, 200)";
$RutaImg: "../img/";
$ImgCoverHome: $RutaImg + "landing_noche.jpg";
$ImgCoverContacto: $RutaImg + "landing_dia.jpg";
// Cover
.cuerpo-landing{
	width: 100%;
	background-color: #{$ColorFondoCover};;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	text-align: center;
	transition-duration: 3s;
	&#home{
		background-image: url(#{$ImgCoverHome});
	}
	&#contacto{
		background-image: url(#{$ImgCoverContacto});
	}
	.landing-sombra{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.landing-texto{
	&#home, &#contacto{
		font-size: 25px;
		padding: 175px 10px;
		@media #{$movil} {
			font-size: 20px;
			padding: 60px 10px;
		}
	}
}