// Colores 
$ColorTexto: "rgb(255, 255, 255)";
$ColorTextoBoton: "rgb(0, 150, 250)";
$ColorFondo: "rgb(20, 20, 20)";
$ColorFondoBoton: "rgb(50, 50, 50)";

// Responsive 
$movil: "(max-width: 639px)";
$escritorio: "(min-width: 640px)";

// Fuentes tipográficas 
$CadenaFuentes: "'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif'";
$Regular: "'Open Sans', 'Open Sans Back', " + $CadenaFuentes;
$Light: "'Open Sans Light', 'Open Sans Light Back', " + $CadenaFuentes;

/* Fuentes tipográficas */
@font-face {
	font:{
		family:"Open Sans";
		weight: normal;
		style: normal;
	}
	src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font:{
		family:"Open Sans Light"; 
		weight: normal;
		style: normal;
	}
	src:url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
	font:{
		family:"Open Sans Back";
		weight: normal;
		style: normal;
	}
	src:url("http://Fermoto5HD.xtrweb.com/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
	font:{
		family:"Open Sans Light Back";
		weight: normal;
		style: normal;
	}
	src:url("http://Fermoto5HD.xtrweb.com/fonts/OpenSans-Light.ttf") format("truetype");
}

/* Reset, declaración tipográfica y bloqueo de selección */
*{
	margin: 0; padding: 0;
	color: #{$ColorTexto};;
	font-family: #{$Regular};
	//-webkit-user-select: none;
	//-moz-user-select: none;
	//user-select: none;
}

/* Reset tipográfico */
button{
	font-family: #{$Regular};
}

/* Declaración tipográfica en párrafos y footer */
p, footer{font-family: #{$Light};}

/* Reemplazo del arroba */
span.at::after {
	content: "@";
}


/* Encuadre */
#container, .container {max-width: 940px; margin: 0 auto; padding: 0; }

/* Body */
body{
	background: #{$ColorFondo};;
}

/* h1 */
h1{
	margin-top: 20px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	color: inherit; 
}
ul li{
	list-style: none; 
}

/* Botones */
button{
	margin: 5px;
	padding: 10px; 
	border: 1px solid rgba(0, 0, 0, 0.75); 
	background-color: #{$ColorFondoBoton};;
	color: #{$ColorTextoBoton};;
	cursor: pointer;
	transition: 0.5s; 
}
button:hover{
	background-color: #{$ColorTextoBoton};;
	color: #{$ColorFondoBoton};;
}

/* Elementos ocultos */
.oculto {display: none;} 

/* Transparencias */
.opaco{opacity: 1;}
.semitransparencia{opacity: 0.5;}
.transparente{opacity: 0;} 

/* Loading con Ajax */
.loading{
	background-color: rgb(0, 0, 0);
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99999999;
}
.loading-texto{top: 50%; width: 100%; text-align: center; position: fixed;}

/* Cuerpo y secciones */
#cuerpo{
	padding-bottom: 20px;
}

.seccion{
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding-top: 10px;
	padding-bottom: 20px;
	&:first-child{
		border-top: none;
	}
}

@import "header";

//Footer (como no hay mucho en el footer, va directo acá). 
/* Footer */
footer{
	padding: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	text-align: center;
	opacity: 0.75;
	font-size: 13px; 
}




.video{
	display: inline-block; 
	vertical-align: top; 
	margin: 5px; 
	width: 375px; 
	background-color: rgba(0, 0, 0, 0.5); 
	img{
		margin: 0; 
		padding: 0; 
		width: 375px; 
		height: 300px; 
		background-size: cover; 
		background-position: center; 
	}
	.metadata{
		padding: 5px; 
		font-size: 14px; 
		h1{font-size: 18px;}
	}
}