<section class="jumbotron jumbotron-fluid jumbotron-full-height jumbotron-video flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<video preload="" muted="" autoplay="" loop="">
		<source src="assets/vid/blog.mp4" type="video/mp4">
		</video>
		<div class="col-md-8">
			<div>
				<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">Redes sociales</h1>
			</div>
			<p class="lead">Podés encontrarme en varios lados en Internet, consultalos en esta misma página.</p>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row container-with-ia">
		<div class="main-container py-1">
			<div class="row">
				<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto">Sitios en donde estoy</h2>
			</div>

			<div *ngIf="networks; then networksTrue else networksFalse"></div>
			<ng-template #networksTrue>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 col-sm-6" *ngFor="let item of networks">
							<div class="card my-3">
								<div class="card-body">
									<h2>{{item.site}}</h2>
									<p>{{item.link}}</p>
									<div class="btn-group">
										<a href="{{item.link}}" target="_blank" class="btn btn-outline-dark">Ir</a>
										<a *ngIf="item.page" routerLink="{{item.page}}" class="btn btn-outline-dark">Ver página</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>

			<ng-template #networksFalse>
				<p>No hay redes cargadas aún.</p>
			</ng-template>
		</div>
		<div class="ia-container">
			<FM5-ias></FM5-ias>
		</div>
	</div>
</section>