// Parametros 
$ColorFondoCover: "rgb(0, 150, 200)";
$RutaImg: "../img/cover/";
$ImgCoverInicio: $RutaImg + "inicio.jpg";
$ImgCoverSobreMi: $RutaImg + "sobre-mi.jpg";
$ImgCoverCurriculum: $RutaImg + "inicio.jpg";
$ImgCoverPortfolio: $RutaImg + "portfolio.jpg";
$ImgCoverCreditos: $RutaImg + "creditos.jpg";
$ImgCoverYouTube: $RutaImg + "youtube.jpg";
$ImgCoverContacto: $RutaImg + "contacto.jpg";
$ImgCover401: $RutaImg + "error404.jpg"; 
$ImgCover404: $RutaImg + "error404.jpg"; 
$AlturaCover: '600px'; 
// Cover
.cuerpo-landing{
	width: 100%; 
	height: inherit; 
	background-color: #{$ColorFondoCover};;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	text-align: center;
	transition-duration: 3s;
	//@media only screen and (min-width: 40.0625em){height: #{$AlturaCover};;}
	&#home, &#instahome{background-image: url(#{$ImgCoverInicio}); }
	&#sobre-mi{background-image: url(#{$ImgCoverSobreMi}); }
	&#curriculum{background-image: url(#{$ImgCoverCurriculum}); }
	&#portfolio{background-image: url(#{$ImgCoverPortfolio}); }
	&#creditos{background-image: url(#{$ImgCoverCreditos}); }
	&#youtube{background-image: url(#{$ImgCoverYouTube});}
	&#contacto{background-image: url(#{$ImgCoverContacto});}
	&#error401{background-image: url(#{$ImgCover401});}
	&#error404{background-image: url(#{$ImgCover404});}
	.landing-sombra{
		width: 100%; 
		background-color: rgba(0, 0, 0, 0.5);
		//@media only screen and (min-width: 40.0625em){
		//	height: #{$AlturaCover};; 
		//}
		& .container div, & .landing-texto{
			font-size: 20px;
			padding: 60px 10px;
			@media only screen and (min-width: 40.0625em){
				font-size: 25px;
				padding: 175px 10px;
			}
		}
	}
}