<section class="jumbotron-container jumbotron-full-height jumbotron-video" [style.backgroundImage]="'url(' + image + ')'">
	<div class="jumbotron video-overlay jumbotron-fluid d-flex flex-center-vertical w-100">
		<video *ngIf="video;" poster="{{image}}" muted video autobuffer loop autoplay>
			<source src="{{video}}" type="video/mp4" muted>
		</video>
		<div class="d-flex align-items-center text-{{align}} w-100">
			<div class="{{column_container}}">
				<div *ngIf="title;">
					<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">{{title}}</h1>
				</div>
				<p class="lead" *ngIf="lead;">{{lead}}</p>
				<p *ngIf="description;">{{description}}</p>
				<p *ngIf="description_2;">{{description_2}}</p>
				<div class="btn-group">
					<a *ngIf="url_int;" class="btn btn-outline-light" routerLink="{{url_int}}">{{url_int_text}}</a>
					<a *ngIf="url_ext_1;" class="btn btn-outline-light" href="{{url_ext_1}}" target="_blank">{{url_ext_1_text}}</a>
					<a *ngIf="url_ext_2;" class="btn btn-outline-light" href="{{url_ext_2}}" target="_blank">{{url_ext_2_text}}</a>
				</div>
			</div>
		</div>
	</div>
</section>