<FM5-jumbotron 
	image="assets/img/covers/about.jpg"
	align="left"
	column_container="col-md-8"

	maintitle="¡Conoceme mejor!"
	lead="Me llamo Fernando Javier Osorio Lorenzo, aunque me llaman Fer, tengo {{age}} años, y soy un programador frontend, aunque de a momentos puedo ser backend."
	description="Además de esa mini introducción vas a poder conocerme no sólo en cuanto a lo técnico, también en cuanto a experiencia y personalidad del día a día."
	description_2="Entre otros datos de color como mis predilectos gustos en la animación experimental y el animé, junto con mis preferencias musicales al momento de programar o transitar la ciudad."

	url_ext_1="static/files/cv_fernando-osorio.pdf" url_ext_1_text="Descargá mi CV"
	>
</FM5-jumbotron>
<section class="bg-dark">
	<div class="row">
		<h3>Edad: {{age}} años</h3>
		<p><small>Faltan ??? días para que cumpla ??.</small></p>
		<hr>
		<h3>Estoy en Villa del Parque</h3>
		<p><small>Capital Federal, Argentina</small></p>
		<hr>
		<h3>Trabajando en Esto es Vixnet</h3>
		<p>Desarrollador frontend, apps con NodeJS y banners HTML5.</p>
	</div>
</section>
<section class="bg-dark">
	<h2>Animés que destaco</h2>
	<div class="row">
		<div class="col-md-4">
			<h4>Jojo's Bizarre Adventure</h4>
			<p>4 partes animadas (y esperando a que larguen Vento Aureo)</p>
		</div>
		<div class="col-md-4">
			<h4>Durarara!!</h4>
			<p>2 temporadas</p>
			<p>De hecho, tengo a Izaya de foto de perfil en Twitter.</p>
		</div>
		<div class="col-md-4">
			<h4>Pop Team Epic</h4>
			<p>1 temporada - En espera de la próxima</p>
			<p>Espectacular! Un animé de un shitposter para otro shitposter.</p>
		</div>
	</div>
	<a href="#" class="btn btn-primary btn-lg btn-block" routerlink="mal">Tracking en My Anime List</a>
</section>
<section>
	<h2>Animés que estoy esperando para este año</h2>
	<div class="row">
		<div class="col-md-4">
			<h4>Magical Girl Ore</h4>
			<p>Hicieron el release en Crunchy, pero aguardo a que hagan el release final por HorribleSubs.</p>
		</div>
		<div class="col-md-4">
			<h4>Yarichin Bitch Club (o Yaribu) <span class="badge badge-warning">+18</span></h4>
			<p>Serie de OVAs - Hace poco lo anunciaron.</p>
		</div>
		<div class="col-md-4">
			<h4>Ten Count</h4>
			<p>Serie que también anunciaron para fines de este año</p>
		</div>
	</div>
</section>
<section>
	<h3>¿Cómo consumo animé?</h3>
	<p>Mayoritariamente en mobile, cada tanto en desktop.</p>
	<p>En idioma inglés.</p>
	<p>Preferentemente via torrents de HorribleSubs por cuestiones de tipografía (prefiero con Open Sans).</p>
</section>
<section>
	<h2>Transporte utilizado</h2>
	<div class="col-md-4">
		<h4>Bicicleta y Ecobici</h4>
		<p>No cuesta nada y hace bien!</p>
	</div>
	<div class="col-md-4">
		<h4>Colectivo</h4>
		<p>Más que nada por la disponibilidad 24/7</p>
	</div>
	<div class="col-md-4">
		<h4>Subte y tren</h4>
		<p>La mayoría tienen aire acondicionado, y es un transporte muy lindo.</p>
	</div>
	<div class="col-md-4">
		<h4>Uber</h4>
		<p>Por temas de rapidez y confort.</p>
	</div>
</section>
<section>
	<h2>Cuándo los uso</h2>
	<div class="col-md-4">
		<h4>Bicicleta y Ecobici</h4>
		<p>Siempre para ir al trabajo. Las Ecobici sólo cuando tengo tiempo y disponibilidad de uso.</p>
	</div>
	<div class="col-md-4">
		<h4>Colectivo</h4>
		<p>Cuando tengo que llegar a algún lugar en forma más directa y en lo posible sin combinar.</p>
	</div>
	<div class="col-md-4">
		<h4>Subte y tren</h4>
		<p>Cuando tengo que llegar rápido a algún lugar, sin interrupciones de tránsito.</p>
	</div>
	<div class="col-md-4">
		<h4>Uber</h4>
		<p>Cuando tengo que llegar lo más rápido posible, sin pausas desde el inicio hasta el final del viaje.</p>
	</div>
</section>
<section class="py-5">
	<div class="container-fluid">
		<div class="row container-with-ia">
			<div class="main-container py-1">
				<h2>¡Acá hay una foto de mí!</h2>
				<p class="lead">Upd: Febrero 2018</p>
				<p><i class="far fa-map-marker-alt"></i> All Saints Cafe</p>
				<img class="img-fluid img-thumbnail" src="static/profile/2018-02.jpg">
				<hr>
				<br>
				<h2>¿Por qué soy programador y cómo terminé siéndolo?</h2>
				<p>Fácil, desde chico vengo acompañado de una computadora, y siempre me intrigó querer cambiar cosas del sistema. De ahí viene el origen de todo.</p>
				<p>En 2013 me empiezan a dar clases de programación web en la secundaria, y mientras toda la clase empezaba a conocer el HTML, yo ya me estaba informando sobre el responsive design, por lo que en ese entonces empecé a programar mi camino a ser un... bueno, intento de programador? Por así decirlo.</p>
				<p>Y para 2014/2015 empezaba a encarrilarme definitivamente hacia la programación web, haciendo de CSS y JS mis principales fuertes para programar páginas web.</p>
				<p>Ah, prácticamente todo fue por autodidactismo, y hasta el día de hoy sigo haciéndolo de esa forma.</p>
				<hr>
				<h2>Experiencia en el área</h2>
				<p>Recién estoy haciendo el camino profesional. </p>
				<p>Estoy profundamente agradecido con "Esto es", una agencia de publicidad y software factory que presenta innovación y soluciones de llave en mano, quienes confiaron y siguen confiando en mí para producir productos de alta calidad a los clientes finales. Gracias a éllos estoy logrando adquirir herramientas de muy buen nivel para producir y crear mejores trabajos tanto en la empresa como en los proyectos propios.</p>
				<hr>
				<h2>Proyección a futuro</h2>
				<p>A futuro quiero establecerme como un desarrollador full-stack, manejando proyectos más complejos de la mano de stacks MEAN para escalarlos fácilmente.</p>
			</div>
			<div class="ia-container">
				<FM5-ias></FM5-ias>
			</div>
		</div>
	</div>
</section>
