<div ng-controller="Saitama as images">
	<div class="jumbotron-container" style="background-image: url({{pics[0].images.standard_resolution.url}});">
		<div class="jumbotron">
			<div class="container-fluid">
				<h1>¡Bienvenido a mi página personal!</h1>
				<p>Soy Fernando Osorio, y me desempeño como desarrollador de sitios y aplicaciones web interactivas. </p>
				<p>¡Te invito a que me conozcas mejor!</p>
			</div>
		</div>
		<div class="breadcrumb-container">
			<div class="container-fluid">
				<div class="breadcrumb">
					<div class="col-md-9">
						<i class="fa fa-instagram"></i> <span>{{pics[0].caption.text}}</span>
					</div>
					<div class="col-md-3">
						<a class="btn btn-primary btn-sm" href="{{pics[0].link}}" target="_blank">Miralo en mi Instagram <i class="fa fa-external-link" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section>
	<div class="container-fluid text-xs-center">
		<div class="row row-shortcut">
			<h2>4 ítems rápidos sobre mí</h2>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<p id="age">{{age}}</p>
					<p>años</p>
				</span>
				<h3>Edad actual</h3>
				<p>Nací el 05/11/1994. En {{nextbirthday}} días cumplo {{nextage}}.</p>
			</div>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</span>
				<h3>Ubicación</h3>
				<p>Villa del Parque, Buenos Aires, Argentina</p>
			</div>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				</span>
				<h3>Estudios</h3>
				<p>Cursando el 2do año de la carrera Tecnología Ferroviaria en la UNSAM</p>
			</div>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<i class="fa fa-briefcase" aria-hidden="true"></i>
				</span>
				<h3>Situación laboral</h3>
				<p>Programador front-end en Esto Es VixNet desde Junio 2016.</p>
			</div>
			<!-- Da following is when I was unemployed -->
			<!--<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<i class="fa fa-flask" aria-hidden="true"></i>
				</span>
				<h3>Desarrollo web</h3>
				<p>Desde HTML5, pasando por Sass hasta la automatización mediante NodeJS.</p>
			</div>-->
		</div>
		<a class="btn btn-primary btn-lg btn-block" href="/acerca">¡Conoceme mejor!</a>
	</div>
</section>
<hr>
<section id="home-portfolio" ng-controller="listPortfolio">
	<div class="container-fluid text-xs-center">
		<h2>Mis últimos trabajos realizados</h2>
		<div class="col-xs-12 col-md-4" ng-repeat="work in portfolio | limitTo:3">
			<div class="card">
				<div class="card-header" style="background-image: url(img/portfolio/{{work.image}}.png)">
					<div class="headers">
						<h3>{{work.name}}</h3>
						<h5><span class="text-capitalize">{{work.datefrom | amDateFormat:'MMMM YYYY'}} </span><span ng-if="work.dateto !== null">-<span class="text-capitalize">{{work.dateto | amDateFormat:'MMMM YYYY'}}</span></span></h5>
					</div>
				</div>
				<div class="card-block">
					<p>{{work.shortDescription}}</p>
				</div>
				<div class="card-footer">
					<div class="btn-group" role="group">
						<a class="btn btn-primary" href="{{work.link}}">Sitio <i class="fa fa-external-link" aria-hidden="true"></i></a>
						<a class="btn btn-secondary" href="{{work.repo}}" target="_blank">Repositorio <i class="fa fa-external-link" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12"><a class="btn btn-primary btn-lg btn-block" href="/portfolio">Ver todos los trabajos realizados</a></div>
		<div class="col-xs-12 col-sm-6"><a class="btn btn-secondary btn-lg btn-block" href="http://github.com/Fermoto5HD" target="_blank">Ver repositorios en GitHub <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
		<div class="col-xs-12 col-sm-6"><a class="btn btn-secondary btn-lg btn-block" href="http://sum1.lantalkswebmedia.xyz/u/Fermoto5HD" target="_blank">Ver repositorios en GitLab <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
	</div>
</section>
<hr>
<section>
	<div class="container-fluid">
		<h2 class="text-xs-center">Último video cargado en YouTube</h2>
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-md-5">
						<div class="embed-responsive embed-responsive-16by9">
							<div ng-if="ytuploads.data.items[0].snippet.thumbnails.maxres.url === undefined">
								<img class="img-fluid" src="{{ytuploads.data.items[0].snippet.thumbnails.high.url}}" />
							</div>
							<div ng-if="ytuploads.data.items[0].snippet.thumbnails.maxres.url !== undefined">
								<img class="img-fluid" src="{{ytuploads.data.items[0].snippet.thumbnails.maxres.url}}" />
							</div>
						</div>
					</div>
					<div class="col-md-7 hidden-sm-down">
						<h4>{{ytuploads.data.items[0].snippet.title}}</h4>
						<p>{{ytuploads.data.items[0].snippet.description}}</p>
						<a class="btn btn-primary btn-block" href="http://youtu.be/{{ytuploads.data.items[0].snippet.resourceId.videoId}}" target="_blank">Ver video <i class="fa fa-external-link" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="card-footer hidden-md-up text-xs-center">
				<h4>{{ytuploads.data.items[0].snippet.title}}</h4>
				<p>{{ytuploads.data.items[0].snippet.description}}</p>
				<a class="btn btn-primary btn-block" href="http://youtu.be/{{ytuploads.data.items[0].snippet.resourceId.videoId}}" target="_blank">Ver video <i class="fa fa-external-link" aria-hidden="true"></i></a>
			</div>
		</div>
		<a class="btn btn-primary btn-lg btn-block" href="/youtube">Ver más videos...</a>
	</div>
</section>
<hr>
<section>
	<div class="container-fluid text-xs-center">
		<h1>¡Gracias por visitarme!</h1>
		<p>Si querés ponerte en contacto conmigo podés hacerlo por uno de éstos métodos:</p>
		<div class="col-md-6">
			<h2>Redes sociales</h2>
			<p>Seguí mi actividad en las siguientes redes sociales <i class="fa fa-external-link" aria-hidden="true"></i></p>
			<div class="btn-group" role="group">
				<a href="http://facebook.com/Fermoto5HD" target="blank" class="btn btn-secondary"><i class="fa fa-facebook-official fa-2x"></i></a><a href="http://twitter.com/Fermoto5HD" target="blank" class="btn btn-secondary"><i class="fa fa-twitter fa-2x"></i></a><a href="https://plus.google.com/117999670362964140369/" target="blank" class="btn btn-secondary"><i class="fa fa-google-plus fa-2x"></i></a>
			</div>
		</div>
		<div class="col-md-6">
			<h2>Correo electrónico</h2>
			<p>Para una respuesta más formal te sugiero esta opción.</p>
			<div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#md-contact">Abrir formulario</div>
		</div>
	</div>
</section>