<div class="jumbotron-container" style="background-image: url(img/jumbotron/default.jpg)">
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="#/">Fermoto5HD</a></li>
				<li class="active">Portfolio</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron w-breadcrumb">
		<div class="container">
			<h1>Trabajos y proyectos realizados</h1>
			<p>Estos trabajos fueron realizados con distintas metodologías, algunos han sido encargados por particulares y otros los hice por mi cuenta. </p>
			<p>Foundation, Bootstrap, jQueryUI, Angular entre otros frameworks me sirvieron de ayuda para armar los sitios que se encuentran reunidos en esta sección.</p>
			<nav class="navbar">
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#/portfolio/lantalks">Proyectos en Lantalks WebMedia</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#/portfolio/cursadaUNSAM-2016">Cursada UNSAM 2016</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<br/>

<section id="portfolio-portfolio" ng-controller="listPortfolio">
	<div class="container">
		<br/>
		<h2 class="text-xs-center">Mis últimos trabajos realizados</h2>
		<div ng-repeat="work in portfolio">
			<div class="card">
				<div class="card-block row">
					<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-xs-center">
						<img src="img/portfolio/{{work.image}}.png" alt="{{work.title}}" class="img-fluid img-thumbnail"><br/>
						<a class="btn btn-primary" href="{{work.linkURL}}">Visitar sitio <i class="fa fa-external-link" aria-hidden="true"></i></a><a class="btn btn-secondary" href="{{work.linkGitHub}}" target="_blank">Ir al repositorio</a>
					</div>
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
						<div ng-if="work.version === undefined">
							<h3>{{work.title}}</h3>
						</div>
						<div ng-if="work.version !== undefined">
							<h3>{{work.title}} <span class="text-muted">{{work.version}}</span></h3>
						</div>
						<h5>{{work.period}}</h5>
						<p>{{work.shortDescription}}</p>
						<p ng-bind-html-unsafe="html">{{work.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn-primary btn-lg btn-block" href="http://github.com/Fermoto5HD" target="_blank">Ir a mi cuenta en GitHub</a>
	</div>
</section>
<!--<section id="portfolio-portfolio" ng-controller="listPortfolio">
	<div class="container">
		<br/>
		<h2 class="text-xs-center">Trabajos de la UNSAM transformados en webapps</h2>
		<div ng-repeat="work in portfolio">
			<div class="card">
				<div class="card-block row">
					<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-xs-center">
						<img src="img/portfolio/{{work.image}}.png" alt="{{work.title}}" class="img-fluid img-thumbnail"><br/>
						<a class="btn btn-primary" href="{{work.linkURL}}">Visitar sitio <i class="fa fa-external-link" aria-hidden="true"></i></a><a class="btn btn-secondary" href="{{work.linkGitHub}}" target="_blank">Ir al repositorio</a>
					</div>
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
						<h3>{{work.title}}</h3>
						<h5>{{work.period}}</h5>
						<p>{{work.shortDescription}}</p>
						<p>{{work.description}}</p>
					</div>
				</div>
			</div>
		</div>
		<a class="btn btn-primary btn-lg btn-block" href="/portfolio/cursadaUNSAM2016" target="_blank">Ver más trabajos</a>
	</div>
</section>-->