<div ng-if="ytuploads.data.items[0].snippet.thumbnails.maxres.url === undefined">
	<div class="jumbotron-container" style="background-image: url({{ytuploads.data.items[0].snippet.thumbnails.high.url}});">
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="#/">Fermoto5HD</a></li>
					<li class="active">YouTube</li>
				</ol>
			</div>
		</div>
		<div class="jumbotron w-breadcrumb">
			<div class="container">
				<h1>YouTube: Una puerta hacia el contenido original</h1>
				<p>Transporte ferroviario, eventos y más son las temáticas que enfoco en los videos de mi canal, con licencia Creative Commons para que lo reutilices como quieras.</p>
			</div>
		</div>
		<div class="breadcrumb-container">
			<div class="container">
				<div class="breadcrumb">
					<div class="col-md-9">
						<i class="fa fa-youtube-play"></i> <span>{{ytuploads.data.items[0].snippet.title}}</span>
					</div>
					<div class="col-md-3">
						<a class="btn btn-primary btn-sm" href="http://youtu.be/{{ytuploads.data.items[0].snippet.resourceId.videoId}}" target="_blank">Ver este último video <i class="fa fa-external-link" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-if="ytuploads.data.items[0].snippet.thumbnails.maxres.url !== undefined">
	<div class="jumbotron-container" style="background-image: url({{ytuploads.data.items[0].snippet.thumbnails.maxres.url}});">
		<div class="breadcrumb-container">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="#/">Fermoto5HD</a></li>
					<li class="active">YouTube</li>
				</ol>
			</div>
		</div>
		<div class="jumbotron w-breadcrumb">
			<div class="container">
				<h1>YouTube: Una puerta hacia el contenido original</h1>
				<p>Transporte ferroviario, eventos y más son las temáticas que enfoco en los videos de mi canal, con licencia Creative Commons para que lo reutilices como quieras.</p>
			</div>
		</div>
		<div class="breadcrumb-container">
			<div class="container">
				<div class="breadcrumb">
					<div class="col-md-9">
						<i class="fa fa-youtube-play"></i> <span>{{ytuploads.data.items[0].snippet.title}}</span>
					</div>
					<div class="col-md-3">
						<a class="btn btn-primary btn-sm" href="http://youtu.be/{{ytuploads.data.items[0].snippet.resourceId.videoId}}" target="_blank">Ver este último video <i class="fa fa-external-link" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section>
	<div class="container text-xs-center">
		<div class="row row-shortcut">
			<h2>Mi canal en números</h2>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<p style="font-size: 18px; padding-top: 24px">Creado en</p>
					<p style="font-size: 40px">2010</p>
				</span>
			</div>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<p style="font-size: 30px; padding-top: 26px">{{ytchannelinfo.items[0].statistics.viewCount}}</p>
					<p>reproducciones</p>
				</span>
			</div>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<p>{{ytchannelinfo.items[0].statistics.subscriberCount}}</p>
					<p style="font-size: 14px">subscripciones</p>
				</span>
			</div>
			<div class="col-sm-6 col-md-3 shortcut">
				<span class="circle" style="background-color: rgb(0, 0, 50)">
					<p>{{ytchannelinfo.items[0].statistics.videoCount}}</p>
					<p>videos</p>
				</span>
			</div>
		</div>
	</div>
</section>
<section id="youtube-videos">
	<div class="container text-xs-center">
		<br/>
		<h2>Últimos videos cargados en mi cuenta</h2>
		<div class="row">
			<div ng-repeat="vid in ytuploads.data.items | limitTo: 10">
				<div class="col-xs-12 col-md-4" ng-if="$index > 0">
					<div class="card">
						<div class="card-block embed-responsive embed-responsive-16by9">
							<div ng-if="vid.snippet.thumbnails.maxres.url === undefined">
								<img class="img-fluid" src="{{vid.snippet.thumbnails.high.url}}" />
							</div>
							<div ng-if="vid.snippet.thumbnails.maxres.url !== undefined">
								<img class="img-fluid" src="{{vid.snippet.thumbnails.maxres.url}}" />
							</div>
							<div class="overlay">
								<h4>{{vid.snippet.title}}</h4>
								<!--<h4>{{vid.snippet.title.trunc(68)}}</h4>-->
								<a class="btn btn-primary" href="http://youtu.be/{{vid.snippet.resourceId.videoId}}" target="_blank">Ver video <i class="fa fa-external-link" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="card-footer hidden-md-up">
							<h4>{{vid.snippet.title.trunc(68)}}</h4>
							<a class="btn btn-primary" href="http://youtu.be/{{vid.snippet.resourceId.videoId}}" target="_blank">Ver video <i class="fa fa-external-link" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<a class="btn btn-primary btn-lg btn-block" href="http://youtube.com/Fermoto5HD/videos">Visitá mi canal para ver más <i class="fa fa-external-link" aria-hidden="true"></i></a>
		</div>
		<div class="col-xs-12 col-md-4">
			<a class="btn btn-secondary btn-lg btn-block" href="http://www.youtube.com/subscription_center?add_user=Fermoto5HD">Suscribite al canal <i class="fa fa-external-link" aria-hidden="true"></i></a>
		</div>
	</div>
</section>
<hr>
<section class="container">
	<h1 >Calidad del contenido y lineamientos de grabación</h1>
	<p>Mi contenido posee una cierta calidad al momento de cargarse al canal, tanto el material crudo como el material editado. </p>
	<p>Generalmente la calidad de mi contenido está en 720p. Algunos videos pueden estar en 480p (que son grabados con una Sony Handycam). Si el contenido es editado mediante software se intenta escalarlo a 1080p, y de forma experimental a 60 cuadros por segundo. </p>
	<br/>
	<p>Pero no sólo se tiene en cuenta la calidad después de grabar, también se toman ciertos lineamientos antes y durante la grabación: </p>
	<p>Al grabar se prioriza el encuadre de contenido dentro del área segura 4:3 en caso de ser reutilizado por un medio que transmita el contenido en 4:3 cortando la señal original 16:9. </p>
	<p>En caso de ser grabado con el celular se utiliza la aplicación OpenCamera, no sólo por ser una aplicación Open Source, también por la cantidad de datos útiles generados al momento de grabar, como la inclinación del dispositivo vertical y horizontal, y la posibilidad de bloquear la exposición evitando la pérdida de cuadros por segundo. </p>
	<p>Se prioriza la fluidez del video, excepto en zonas donde no haya luz o predomine oscuridad y se tenga que forzar la exposición automática por parte del celular. En el caso de los videos del subte se priorizan en todos los casos los cuadros por segundo, sacrificando la iluminación del video hasta un cierto punto que considere "muy oscuro".  </p>
	<p>El contenido grabado no utiliza zoom digital ya que se desperdicia calidad de imágen al hacer un tipo de zoom que no aporta detalle alguno al video. </p>
	<p>Claro está que en los casos donde tenga la posibilidad de hacer zoom óptico se utilizará este recurso. </p>
</section>
<section class="container">
	<h1>¿Que hay en mi canal?</h1>
	<p>En mi canal hay un contenido definido, el cual se centra en el transporte ferroviario, tecnología (la cual incorporaré más adelante), eventos y más. </p>
	<p>Actualmente mi canal está pasando por el proceso de reestructuración de contenido, donde el contenido anterior (televisión y radio) está siendo transferido hacia otra cuenta, adoptando una imagen e identidad al canal y priorizando el contenido de creación propia en el canal. </p>
	<p>El canal por el momento está situado en dos grupos de contenidos: </p>
</section>
<section class="container">
	<h2>Transporte ferroviario</h2>
	<p>Este material es grabado dentro del Área Metropolitana de Buenos Aires y, en su mayoría, en Capital Federal. </p>
	<p>Priorizo la grabación del material rodante eléctrico aunque no descarto la grabación del material tractivo diésel y el material remolcado. </p>
	<p>Intento grabar material de todas las líneas del área, en especial los viajes por dentro ya que no hay demasiado material de éllo en YouTube. </p>
	<!--<p>Más adelante intentaré hacer reviews especiales de cada material rodante eléctrico del subterráneo. </p>-->
</section>
<section class="container">
	<h2>Eventos y más</h2>
	<p>Aparte del contenido ferroviario, cargo videos de algunos eventos a los que asisto y también de otras temáticas de mi interés. </p>
</section>
<section class="container">
	<h1>Licenciamiento Creative Commons</h1>
	<p>Desde el año 2014 decidí establecer a cada video cargado a la cuenta el licenciamiento Creative Commons, permitiendo la reutilización de mi material para cualquier necesidad. </p>
	<p>Más allá de YouTube, este fue el primer paso para la apertura de mi contenido al mundo. </p>
</section>