/* Container with ia */
.container-with-ia .main-container, 
.container-with-ia .ad-container {
	padding-left: 15px;
	padding-right: 15px;
}

.container-with-ia .main-container {
	width: calc(100% - 330px);
}
.container-with-ia .ia-container {
	width: 330px;
}

@media screen and (max-width: 991px) {
	.container-with-ia .main-container, 
	.container-with-ia .ia-container {
		width: 100%;
	}
}


.placeholder-block {
	background-color: #DDDDDD;
}


/* Night mode */
body.night-mode ::selection{
	background-color:#1488C6;color:white
}
body.night-mode ::-moz-selection{
	background-color:#1488C6;color:white
}

body.night-mode {
	background-color: #101E26;
	color: white;
}
body.night-mode header nav {
	background-color: #27343B !important;
	color: white;
}
body.night-mode header nav .nav-link {
	color: rgba(255, 255, 255, 0.5) !important;
}
body.night-mode header nav .active>.nav-link {
	color: rgba(255, 255, 255, 0.9) !important;
}
body.night-mode .card {
	background-color: #061F2F;
	color: white;
}
body.night-mode .card .card-body,
body.night-mode .card .card-footer {
	color: white;
}

body.night-mode .heading-uppercase::after,
body.night-mode .heading-uppercase::before {
	background-color: white;
}

body.night-mode .placeholder-block {
	background-color: #1F3341;
}

body.night-mode .btn-outline-dark {
	border-color: white;
	color: white;
}

body.night-mode pre {
	color: white !important;
}