<section class="jumbotron jumbotron-fluid jumbotron-full-height flex-center-vertical p-0">
	<div class="d-flex align-items-center">
    <div *ngIf="last?.type === 'movie'; then movieTemplate else showTemplate"></div>
	</div>
</section>

<ng-template #movieTemplate>
  <div class="col-md-12">
    <h1>{{last?.movie?.title}}</h1>
    <p class="lead"><label class="badge badge-primary">Película</label> Año {{last?.movie?.year}}</p>
  </div>
</ng-template>

<ng-template #showTemplate>
  <div class="col-md-12">
    <h1>Episodio #{{last?.episode?.number}}: "{{last?.episode?.title}}"</h1>
    <p class="lead"><label class="badge badge-primary">Serie</label> {{last?.show?.title}} - Año {{last?.show?.year}}</p>
  </div>
</ng-template>

<section class="py-5" *ngIf="history">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let historic of history;">
        <div *ngIf="historic?.type === 'movie'; then historicMovieTemplate else historicShowTemplate"></div>
        <ng-template #historicShowTemplate>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">#{{historic?.episode?.number}}: {{historic?.episode?.title}}</h4>
              <p *ngIf="historic?.episode?.season" class="text-muted">Temporada {{historic?.episode?.season}}</p>
              <p class="card-text"><label class="badge badge-primary">Serie</label> {{historic?.show?.title}} <span *ngIf="historic?.show?.year" class="text-muted">- Año {{historic?.show?.year}}</span></p>
            </div>
          </div>
        </ng-template>
        <ng-template #historicMovieTemplate>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{historic?.movie?.title}}</h4>
              <p class="card-text"><label class="badge badge-primary">Película</label> <span *ngIf="historic?.movie?.year" class="text-muted">Año {{historic?.movie?.year}}</span></p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-12">
        <a href="https://trakt.tv/user/Fermoto5HD" class="btn btn-outline-primary btn-block btn-lg">Ir a mi perfil en Trakt</a>
      </div>
    </div>
  </div>
</section>
