<FM5-jumbotron 
	image="{{cover_url}}"

	align="left"
	column_container="col-md-8"
	title="{{section.cover_title}}"
	lead="{{section.lead}}"
	description="{{section.description}}"
	
	url_ext_1="https://flickr.com/Fermoto5HD" url_ext_1_text="Ir a la cuenta"
	url_ext_2="https://www.flickr.com/photos/Fermoto5HD/{{items[0]?.id}}" url_ext_2_text="Ver foto">
</FM5-jumbotron>

<section *ngIf="items">
	<div class="container-fluid">
		<div class="row container-with-ia">
			<div class="main-container py-1">
				<div class="card-columns">
					<div class="card" *ngFor="let item of items;">
						<a href="https://www.flickr.com/photos/Fermoto5HD/{{item?.id}}" target="_blank">
							<img class="card-img-top" src="https://farm{{item?.farm}}.staticflickr.com/{{item?.server}}/{{item?.id}}_{{item?.secret}}_b.jpg" alt="{{item?.title}}" />
						</a>
					</div>
				</div>
			</div>
			<div class="ia-container">
				<FM5-ias></FM5-ias>
			</div>
		</div>
	</div>
</section>