<section class="jumbotron jumbotron-fluid jumbotron-full-height jumbotron-video flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<video poster="assets/img/covers/home.jpg" muted video autobuffer loop autoplay>
			<source src="assets/vid/landing.min.mp4" type="video/mp4">
			<source src="assets/vid/landing.min.mp4" type="video/ogg">
		</video>
		<div class="col-md-8 offset-md-2 text-center">
			<div>
				<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">Es mejor ser transparente</h1>
			</div>
			<p class="lead">Este sitio es de código abierto, y también tiene la licencia Creative Commons</p>
			<p>Esto permite que puedas ver todo el desarrollo hecho en las plataformas de desarrollo colaborativo como GitHub. También podés hacer uso de este desarrollo, aunque mejor te recomiendo que leas toda la página.</p>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container-fluid">
		<div class="row container-with-ia">
			<div class="main-container py-1">
				<h2>Licencia CC BY 4.0</h2>
				<p>El contenido de mi <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Sitio Personal</span> está licenciado bajo <span rel="license">Creative Commons Reconocimiento 4.0 Internacional</span>.</p>
				<hr>
				<h2>¿Qué es Open Source?</h2>
				<p>Traducido, es "Código abierto". Significa dejar al descubierto todo el trabajo desarrollado para que cualquier persona lo pueda ver o pueda aportar sobre ello. Que algo sea open source no necesariamente significa que podamos copiarlo y hacerlo pasar como algo nuestro. Es ahí donde viene el apartado del licenciamiento, donde entre todas las licencias, está Creative Commons.</p>
				<hr>
				<h2>¿Qué significa que algo tenga la licencia Creative Commons?</h2>
				<p>Significa que eso se puede distribuir bajo ciertas condiciones. Desde las más permisivas hasta algunas que no son muy permisivas que digamos.</p>
				<p>Por ejemplo, esta página tiene la licencia CC 4.0 BY. Esa licencia permite:</p>
				<ul>
					<li>Compartir este desarrollo en cualquier formato.</li>
					<li>Adaptar el desarrollo para cualquier cosa, incluso con fines lucrativos (si, no me importa si vas a reusar el código del sitio)</li>
				</ul>
				<p>Pero sólo podés hacerlo si:</p>
				<ul>
					<p>Me das los créditos de este desarrollo (atribución).</p>
					<p>No le agregás restricciones adicionales aparte de las que establece la licencia.</p>
				</ul>
				<hr>
				<h2>¿Por qué te debería importar esto?</h2>
				<p>Porque el mundo está apuntando a ser más abierto con la comunidad, no lo digo yo, las grandes empresas están moviéndose de esa forma. Android es un desarrollo Open Source, Microsoft publica su Visual Studio Code completo y lo van mejorando mucho, Apple abrió su lenguaje Swift y pudo introducir muchisimas mejoras gracias a la comunidad, algunos integrantes de Twitter desarrollaron Bootstrap y lo abrieron a todo el mundo, y podemos quedarnos todo el día si querés nombrando todo lo que usamos y que tiene a una gran comunidad aportando para mejorar todo lo que usamos.</p>
				<p>A la vez, permite el incentivo de nuevas metodologías y la autosuperación constante para captar a otras personas a que participen de la comunidad, o usen el producto.</p>
				<hr>
				<h2>Links</h2>
				<div class="row">
					<div class="col-md-4 py-2 mb-4">
						<a class="card" href="https://github.com/fermoto5hd/sitiopersonal" target="_blank">
							<div class="card-header">
								<h4 class="card-title">Repositorio del sitio <i class="fa fa-external-link" aria-hidden="true"></i></h4>
							</div>
							<div class="card-body">
								<p class="card-text">Disponible en GitHub. Incluyendo versiones anteriores.</p>
							</div>
						</a>
					</div>
					<div class="col-md-4 py-2 mb-4">
						<a class="card" href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">
							<div class="card-header">
								<h4 class="card-title">Licencia Creative Commons <i class="fa fa-external-link" aria-hidden="true"></i></h4>
							</div>
							<div class="card-body">
								<p class="card-text">Versión legal.</p>
							</div>
						</a>
					</div>
					<div class="col-md-4 py-2 mb-4">
						<a class="card" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
							<div class="card-header">
								<h4 class="card-title">Licencia Creative Commons <i class="fa fa-external-link" aria-hidden="true"></i></h4>
							</div>
							<div class="card-body">
								<p class="card-text">Versión más entendible y resumida.</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="ia-container">
				<FM5-ias></FM5-ias>
			</div>
		</div>
	</div>
</section>
