<div class="jumbotron">
	<div class="container-fluid">
		<h1>Control y administración</h1>
		<p>Detalles del sitio y opciones de configuración.</p>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li><a routerLink="/thedollars/map">Inicio</a></li>
				<li><a routerLink="/thedollars/inbox">Mensajes y tickets</a></li>
				<li class="list-divider"></li>
				<li><a routerLink="/thedollars/portfolio">Portfolio</a></li>
				<li><a routerLink="/thedollars/blog">Blog</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<h2>Próximamente.</h2>
	</div>
</div>