<div class="breadcrumb-container">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/thedollars/ikebukuro">Ikebukuro</a></li>
			<li class="breadcrumb-item active">Blog</li>
		</ul>
	</div>
</div>
<div class="jumbotron">
	<div class="container-fluid">
		<h1>Administración del blog</h1>
		<p>Estado de publicaciones y creación de artículos.</p>
	</div>
</div>
<div class="container-fluid">
	<div class="table-responsive">
		<table class="table table-hovered">
			<thead>
				<th>Título</th>
				<th>Creado el</th>
				<th>Estado</th>
				<th>Puntutaciones</th>
			</thead>
			<tbody>
				<tr>
					<td>Publicación de blog</td>
					<td>19/11/2017 - 08:57pm</td>
					<td><span class="label label-success">Publicado</span></td>
					<td>
						<p>Si: 3</p>
						<p>Maso maso: 1</p>
						<p>Nah: 1</p>
					</td>
					<td>
						<div class="btn-group">
							<a href="#">
								<i class="far fa-pencil-alt"></i>
							</a>
							<a href="#" class="btn btn-secondary">
								<i class="far fa-trash-alt"></i>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>