<FM5-jumbotron 
	image="assets/img/covers/about.jpg"
	align="left"
	column_container="col-md-8"

	maintitle="¡Conoceme mejor!"
	lead="Me llamo Fernando Javier Osorio Lorenzo, aunque me llaman Fer, tengo {{age}} años, y soy un programador frontend, aunque de a momentos puedo ser backend."
	description="Además de esa mini introducción vas a poder conocerme no sólo en cuanto a lo técnico, también en cuanto a experiencia y personalidad del día a día."
	description_2="Entre otros datos de color como mis predilectos gustos en la animación experimental y el animé, junto con mis preferencias musicales al momento de programar o transitar la ciudad."

	url_ext_1="static/files/cv_fernando-osorio.pdf" url_ext_1_text="Descargá mi CV"
	>
</FM5-jumbotron>
<section class="py-5">
	<div class="container-fluid">
		<div class="row container-with-ia">
			<div class="main-container py-1">
				<div *ngIf="about?.profile_pic">
					<h2>¡Acá hay una foto de mí!</h2>
					<p class="lead">{{about?.profile_pic[0]?.caption}}</p>
					<p><i class="far fa-map-marker-alt"></i> {{about?.profile_pic[0]?.location}}</p>
					<img class="img-fluid img-thumbnail" src="{{about?.profile_pic[0]?.url}}">
					<hr>
				</div>
				<br>
				<h2>¿Por qué soy programador y cómo terminé siéndolo?</h2>
				<p>Fácil, desde chico vengo acompañado de una computadora, y siempre me intrigó querer cambiar cosas del sistema. De ahí viene el origen de todo.</p>
				<p>En 2013 me empiezan a dar clases de programación web en la secundaria, y mientras toda la clase empezaba a conocer el HTML, yo ya me estaba informando sobre el responsive design, por lo que en ese entonces empecé a programar mi camino a ser un... bueno, intento de programador? Por así decirlo.</p>
				<p>Y para 2014/2015 empezaba a encarrilarme definitivamente hacia la programación web, haciendo de CSS y JS mis principales fuertes para programar páginas web.</p>
				<p>Ah, prácticamente todo fue por autodidactismo, y hasta el día de hoy sigo haciéndolo de esa forma.</p>
				<hr>
				<h2>Experiencia en el área</h2>
				<p>Recién estoy haciendo el camino profesional. </p>
				<p>Estoy profundamente agradecido con "Esto es", una agencia de publicidad y software factory que presenta innovación y soluciones de llave en mano, quienes confiaron y siguen confiando en mí para producir productos de alta calidad a los clientes finales. Gracias a éllos estoy logrando adquirir herramientas de muy buen nivel para producir y crear mejores trabajos tanto en la empresa como en los proyectos propios.</p>
				<hr>
				<h2>Proyección a futuro</h2>
				<p>A futuro quiero establecerme como un desarrollador full-stack, manejando proyectos más complejos de la mano de stacks MEAN para escalarlos fácilmente.</p>
			</div>
			<div class="ia-container">
				<FM5-ias></FM5-ias>
			</div>
		</div>
	</div>
</section>
