<section class="jumbotron jumbotron-fluid jumbotron-full-height flex-center-vertical p-0" style="background-image: url('assets/img/Fermoto5HD.jpg')">
	<div class="d-flex align-items-center">
		<div class="col-md-8">
			<h1>Te cuento un poco más</h1>
			<p class="lead">Acá podrás saber un poco más en detalle varios aspectos de mí.</p>
			<p>Desde mis datos escenciales, pasando por la experiencia adquirida, hasta los lugares en donde estoy involucrado.</p>
		</div>
	</div>
</section>
<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<h1>¡Bienvenido a mi página!</h1>
				<p>Soy Fernando Osorio. Me desempeño como programador frontend (y con algo de backend) para el desarrollo de sitios web y aplicaciones interactivas. </p>
				<p>¡Te invito a que me conozcas mejor!</p>
			</div>
		</div>
		<hr>
		<h2 class="text-center">4 ítems rápidos sobre mí</h2>
		<div class="row shortcuts pb-2">
			<a href="#componentes" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<p id="age">22</p>
						<p>años</p>
					</span>
					<h3>Edad actual</h3>
					<p>Nací el 05/11/1994. En 182 días cumplo 23.</p>
				</div>
			</a>
			<a href="#componentes" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
					</span>
					<h3>Ubicación</h3>
					<p>Villa del Parque, Ciudad de Buenos Aires, Argentina.</p>
				</div>
			</a>
			<a href="#componentes" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="fa fa-graduation-cap" aria-hidden="true"></i>
					</span>
					<h3>Estudios</h3>
					<p>Carrera terciaria de Tecnología Ferroviaria en la UNSAM.</p>
				</div>
			</a>
			<a href="#componentes" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					</span>
					<h3>Trabajo</h3>
					<p>Programador front-end en Esto Es Vixnet desde Junio 2016.</p>
				</div>
			</a>
		</div>
		<div class="row pt-2 pb-4">
			<div class="col-md-12">
				<a href="#portfolio" class="btn btn-primary btn-block btn-lg">¡Conoceme mejor!</a>
			</div>
		</div>
	</div>
</section>
