<div class="jumbotron-container" style="background-image: url(img/cover/default.jpg);">
	<div class="breadcrumb-container">
		<div class="container-fluid">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Fermoto5HD</a></li>
				<li class="breadcrumb-item active">Blog</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron w-breadcrumb white-blocks">
		<div class="container-fluid">
			<h1>Un apartado personal en Internet</h1>
			<div class="description">
				<p>En esta sección vas a poder leer algunos posts que voy haciendo, tratando de diversos temas, no sólo de la programación web, también otras cosas más.</p>
			</div>
		</div>
	</div>
	<!--a nohref>
		<div class="breadcrumb-container">
			<div class="container-fluid">
				<div class="breadcrumb">
					<i class="fa fa-plus"></i> <span>Tocá acá para seguir leyendo</span>
				</div>
			</div>
		</div>
	</a-->
</div>
<!--section>
	<div class="container-fluid text-xs-center">
		<div class="row row-shortcut">
			<h2>Por categoría</h2>
			<div class="col-sm-6 col-md-4 shortcut">
				<span class="circle bg-info">
					<i class="fa fa-computer" aria-hidden="true"></i>
				</span>
				<h3>Programación web</h3>
				<p>Desde frontend hasta backend</p>
			</div>
			<div class="col-sm-12 col-md-4 shortcut">
				<span class="circle" style="background-image: url(img/konodioda.jpg)" title="Esperabas una imagen de ejemplo, pero era yo, Dio!">
				</span>
				<h3>Otaku Culture</h3>
				<p>Animé, manga y demás</p>
			</div>
			<div class="col-sm-6 col-md-4 shortcut">
				<span class="circle bg-warning">
					<i class="fa fa-danger" aria-hidden="true"></i>
				</span>
				<h3>Sin categoría</h3>
				<p>Temas que no entran en las otras dos categorías</p>
			</div>
		</div>
	</div>
</section-->
<section ng-controller="blog_posts">
	<div class="container-fluid text-xs-center">
		<br/>
		<h2>Últimas publicaciones</h2>
		<div class="row">
			<div ng-repeat="post in posts | limitTo: 10">
				<div ng-if="$index > 0"></div>
				<div class="col-xs-12 col-md-4">
					<div class="card">
						<!--div class="card-header">
							<div ng-if="post.imagen !== undefined">
								<img class="img-fluid" src="_josephisbestjojo/assets/cargas/{{post.imagen}}" />
							</div>
						</div-->
						<div class="card-block">
							<!--h4>{{post.titulo(68)}}</h4-->
							<!--p>{{post.copete(167)}}</p-->
							<h4>{{post.titulo.trunc(68)}}</h4>
							<p>{{post.copete.trunc(167)}}</p>
							<a class="btn btn-primary" href="blog/{{post.slug}}">Seguí leyendo</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--div class="col-xs-12">
			<a class="btn btn-primary btn-lg btn-block">Cargar más posts</a>
		</div-->
	</div>
</section>