<section class="jumbotron jumbotron-fluid jumbotron-full-height jumbotron-video flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<video poster="assets/img/covers/home.jpg" muted video autobuffer loop autoplay>
			<source src="assets/vid/landing.min.mp4" type="video/mp4">
			<source src="assets/vid/landing.min.mp4" type="video/ogg">
		</video>
		<div class="col-md-12 text-center">
			<div>
				<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display:inline-block">Todo nuevo, incluso la tecnología utilizada</h1>
			</div>
			<p class="lead">Te cuento acá cómo lo fui realizando.</p>
			<p>La implementación de tecnologías totalmente modernas. Node, Express, Mongo, Angular. Un desarrollo que abre nuevos caminos a la escalabilidad.</p>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container">
		<h2>¿Para qué este objetivo?</h2>
		<p>Me venía interesando hacer un proyecto MEAN hace un buen tiempo, pero no sabía cómo encararlo, y ante tanta, pero tanta duda, decidí empezar con uno mezclando una necesidad que ya tenía, que era renovar mi página personal.</p>
		<p>Si tenía que empezar otro proyecto o hacer una "prueba" de un MEAN, iba a quedar en la nada. Para evitar esto, preferí mezclar ambos desafíos para llegar a ambos objetivos de una sóla vez.</p>
	</div>
</section>
<hr>
<section class="py-3">
	<div class="container">
		<h2>Angular: Un viaje a la tierra de los webcomponents</h2>
		<p>Los webcomponents son algo muy nuevo, si bien probé con Polymer, los resultados fueron... buenos. Luego quise volver y no pude, hasta que decidí darle una oportunidad (más) a Angular, en su 4ta versión. </p>
		<p>Gracias a la dependencia angular-cli se fue desarrollando cada módulo del sitio, con posibilidad de reutilización en diversas partes del sitio.</p>
	</div>
</section>
<hr>
<section class="py-3">
	<div class="container">
		<h2>Montando la plataforma con NodeJS (y algo de routing con Express)</h2>
		<p>Si bien tuve los primeros encuentros con Node, esta fue la primera vez que desarrollo un proyecto con una base predominante en Node, con endpoints para consultar los diferentes datos del sitio con la ayuda de Express. </p>
		<p>Por el momento la API no está versionada, aunque se realizará dentro de poco.</p>
	</div>
</section>
<hr>
<section class="py-3">
	<div class="container">
		<h2>Rompiendo lo estructurado con Mongo y Mongoose</h2>
		<p>Este fue un desafío muy duro, era pasar de usar MySQL a un sistema NoSQL, basado en colecciones y muchos JSONs.</p>
		<p>Fue muy divertido cargar unos 18 proyectos a la colección de portfolio, lo que sí fue complicado fue ir armando los model.</p>
	</div>
</section>
<hr>
<section class="py-3">
	<div class="container">
		<h2>Miralo sin conexión: Los benditos service workers!</h2>
		<p>La incorporación de esta tecnología, sumado a la certificación segura, permite que puedas ver el sitio sin necesidad de tener una conexión de internet.</p>
		<p>Por supuesto, hay cosas que no van a funcionar sin Internet por obvias razones. </p>
	</div>
</section>
<hr>
<section class="py-3">
	<div class="container">
		<h2>Y lo que no creí utilizar nunca: Docker!</h2>
		<p>Como necesitaba saber cómo montar no sólo un sitio, sino varios, decidí explorar un poco más y me topé con Docker.</p>
		<p>Costó un poco, pero gracias a algunos boilerplates y a Acamica logré aprender un poco el funcionamiento y montarlo sin mucho problema.</p>
	</div>
</section>
<hr>
<section class="py-3">
	<div class="container">
		<h2>Sacando conclusiones</h2>
		<p>Algo que preví hacerlo en un mes de desarrollo conllevó unos 8 meses, ya que no calculé el nivel de complejidad que conllevaría armar un MEAN, y mucho menos usar Docker para montarlo en un server.</p>
		<p>Aún faltan instancias por superar, como Passport y la integración con Angular para ir montando un backend. Mas allá de esto que mencioné, logré dar un paso bastante importante.</p>
		<p>De esta experiencia me llevo un tremendo conocimiento de estas tecnologías, que son muy espectaculares, y sin duda son el nuevo presente y el gran futuro de la web que muchos de nosotros estamos armando día a día.</p>
	</div>
</section>
<hr>
<section class="text-center">
	<h1>¡Gracias por leer!</h1>
	<a class="btn btn-outline-primary btn-lg" routerLink="">Volver</a>
</section>