<section class="jumbotron jumbotron-fluid jumbotron-full-height jumbotron-video flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<video poster="assets/img/default.jpg" preload="" muted="" autoplay="" loop="">
			<source src="assets/vid/portfolio.min.mp4" type="video/mp4">
			<source src="assets/vid/portfolio.min.mp4" type="video/ogg">
		</video>
		<div class="col-md-8">
			<h1>GitHub</h1>
			<p class="lead">Donde el software se gesta y toma su forma.</p>
			<p>Diversos proyectos de código abierto, algunos de ellos son forkeados (clonados) para tenerlos de referencia o para mejoras personales.</p>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row text-center">
		<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto">Última actividad en la plataforma</h2>
	</div>
	<FM5-repositories size="large"></FM5-repositories>
</section>