@charset "UTF-8";
/* Fuentes tipográficas */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Back";
  font-weight: normal;
  font-style: normal;
  src: url("http://Fermoto5HD.xtrweb.com/fonts/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Open Sans Light Back";
  font-weight: normal;
  font-style: normal;
  src: url("http://Fermoto5HD.xtrweb.com/fonts/OpenSans-Light.ttf") format("truetype"); }
/* Reset, declaración tipográfica y bloqueo de selección */
* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', 'Open Sans Back', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif'; }

/* Reset tipográfico */
button {
  font-family: 'Open Sans', 'Open Sans Back', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif'; }

/* Declaración tipográfica en párrafos y footer */
p, footer {
  font-family: 'Open Sans Light', 'Open Sans Light Back', 'Museo Sans', 'Tahoma', 'Verdana', 'Arial', 'Sans-serif'; }

/* Encuadre */
#container, .container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0; }

/* Body */
body {
  background: rgb(20, 20, 20); }

/* h1 */
h1 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: inherit; }

ul li {
  list-style: none; }

/* Botones */
button {
  margin: 5px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: rgb(50, 50, 50);
  color: rgb(0, 150, 250);
  cursor: pointer; }

/* Elementos ocultos */
.oculto {
  display: none; }

/* Transparencias */
.opaco {
  opacity: 1; }

.semitransparencia {
  opacity: 0.5; }

.transparente {
  opacity: 0; }

/* Loading con Ajax */
.loading {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999999; }

.loading-texto {
  top: 50%;
  width: 100%;
  text-align: center;
  position: fixed; }

/* Cuerpo y secciones */
#cuerpo {
  padding-bottom: 20px; }

.seccion {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 20px; }
  .seccion:first-child {
    border-top: none; }

.contain-to-grid#principal, nav.top-bar#principal, ul.right#principal, ul.right#principal li, li:not(.has-form) a:not(.button) {
  background-color: transparent; }

nav.top-bar#principal {
  height: 65px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

nav.top-bar.expanded#principal {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.8); }
  nav.top-bar.expanded#principal .title-area {
    background-color: transparent; }

.title-area {
  height: 65px; }

.top-bar-section ul li > a {
  opacity: 1;
  font-style: inherit;
  font-family: inherit; }

ul.right#principal {
  background-color: transparent;
  font-style: inherit; }
  ul.right#principal li:not(.has-form) a:not(.button) {
    font-style: inherit;
    font-family: inherit; }
    @media only screen and (min-width: 40.0625em) {
      ul.right#principal li:not(.has-form) a:not(.button) {
        background-color: transparent;
        opacity: 0.5;
        transition: 0.5s;
        font-size: 16px;
        padding: 10px 20px; } }
    ul.right#principal li:not(.has-form) a:not(.button):hover {
      opacity: 1; }

/* Div contenedor del header */
header#estructura-header {
  width: 100%;
  background: linear-gradient(to bottom, black 0%, transparent 100%) repeat scroll 0% 0%;
  padding-bottom: 2.5px;
  color: #141414;
  position: absolute;
  transition-duration: 0.5s; }
  @media (max-width: 639px) {
    header#estructura-header {
      position: fixed;
      z-index: 10; } }

/* Icono menu */
#icono-menu-responsive {
  display: none; }
  @media (max-width: 639px) {
    #icono-menu-responsive {
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 40px;
      margin-left: 15px; } }

/* Logo */
.encabezado-logotipo {
  margin: 10px;
  width: 210px;
  height: 50px;
  background-image: url(../img/brand.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  vertical-align: middle; }

/* Navegación */
nav.encabezado-navegacion {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 10px; }
  @media (max-width: 639px) {
    nav.encabezado-navegacion {
      display: none;
      float: none; } }

li.navegacion-item {
  display: inline-block;
  padding: 10px;
  opacity: 0.5;
  transition-duration: 0.75s;
  cursor: pointer;
  vertical-align: middle;
  color: #c8c8c8 !important; }
  @media (max-width: 639px) {
    li.navegacion-item {
      display: block; } }
  li.navegacion-item:hover {
    opacity: 1; }

/* Footer */
footer {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  opacity: 0.75;
  font-size: 13px; }

/*# sourceMappingURL=general.css.map */
