<div *ngIf="portfolio; then portfolioTrue else portfolioFalse"></div>


<ng-template #portfolioTrue>
	<div *ngIf="size === 'small'; then portfolioSmall else portfolioLarge"></div>
</ng-template>

<ng-template #portfolioFalse>
  No hay trabajos aún.
</ng-template>

<ng-template #portfolioSmall>
	<div class="row">
		<div class="col-sm-12 col-md-4 mt-4" *ngFor="let item of portfolio;">
			<div class="card">
				<img class="card-img-top" src="/static/portfolio/{{item.image}}" alt="{{item.name}}">
				<div class="card-body">
					<h4 class="card-title heading-uppercase">{{item.name}} <span *ngIf="item.version" class="text-muted">v{{item.version}}</span></h4>
					<p class="card-text">{{item.description.excerpt}}</p>
					<div class="btn-group">
						<a *ngIf="item.url && item.is_internal" routerLink="{{item.url}}" class="btn btn-primary btn-outline-primary">Ver trabajo</a>
						<a *ngIf="item.url && !item.is_internal" href="{{item.url}}" target="_blank" class="btn btn-primary btn-outline-primary">Ver trabajo</a>
						<a *ngIf="item.url_repo" href="{{item.url_repo}}" target="_blank" class="btn btn-primary btn-outline-primary">Repositorio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-12">
			<a class="btn btn-outline-primary btn-block btn-lg" routerLink="portfolio">Ver más trabajos</a>
		</div>
	</div>
</ng-template>

<ng-template #portfolioLarge>
	<div class="container-fluid">
		<div class="card my-3" *ngFor="let item of portfolio">
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-xs-center">
						<img class="img-responsive img-thumbnail" src="/static/portfolio/{{item.image}}" alt="{{item.name}}">
					</div>
					<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
						<h1>{{item.name}} <span *ngIf="item.version" class="text-muted">v{{item.version}}</span></h1>
						<p class="lead">{{item.description.excerpt}}</p>
						<p>{{item.description.full}}</p>
						<div class="btn-group">
							<a *ngIf="item.url && item.is_internal" routerLink="{{item.url}}" class="btn btn-primary btn-outline-primary">Ver trabajo</a>
							<a *ngIf="item.url && !item.is_internal" href="{{item.url}}" target="_blank" class="btn btn-primary btn-outline-primary">Ver trabajo</a>
							<a *ngIf="item.url_repo" href="{{item.url_repo}}" target="_blank" class="btn btn-primary btn-outline-primary">Repositorio</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>