<FM5-jumbotron 
	image="assets/img/covers/default.jpg"
	video="assets/vid/main.mp4"

	align="center"
	column_container="col-md-12"
	
	maintitle="Próximo Tren"
	lead="Un desarrollo prácticamente propio con la API de Trenes en Directo."
	description="Conocé en cuánto tiempo llegará la próxima formación a la estación más cercana, y en cuanto llegás a tu destino.">
</FM5-jumbotron>

<section class="py-5">
	<div class="container-fluid">
		<h2 class="text-center">Al desarrollar la webapp se tomó en cuenta</h2>
		<div class="row shortcuts pb-2">
			<a href="#" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="far fa-mobile" aria-hidden="true"></i>
					</span>
					<h3>Mobile first</h3>
					<p>Porque la experiencia de uso en el celular importa.</p>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="far fa-tachometer" aria-hidden="true"></i>
					</span>
					<h3>Rendimiento</h3>
					<p>Porque tus decisiones no pueden esperar.</p>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="far fa-sort-amount-down" aria-hidden="true"></i>
					</span>
					<h3>Reducción de pasos</h3>
					<p>No tenés porqué tardar mucho en tener los tiempos.</p>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="shortcut">
					<span class="circle bg-info">
						<i class="far fa-check-circle"></i>
					</span>
					<h3>Lo último de lo último</h3>
					<p>Tecnologías modernas en un mundo moderno.</p>
				</div>
			</a>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container-fluid">
		<div class="col-md-12 text-center">
			<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto" style="display:inline-block">¿Qué tiene de atractivo?</h2>
		</div>
		<div class="row pb-2">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-4">

					</div>
					<div class="col-md-8">
						<h3>Usalo donde vos quieras</h3>
						<p>No importa si es en un tablet, una notebook o en un celular, sólo tenés que contar con una conexión a internet, un navegador moderno (olvidate de usar Internet Explorer, por favor), y listo!</p>
					</div>
				</div>
				<div class="row py-5">
					<div class="col-md-8">
						<h3>Adelantado a lo que vos necesitás</h3>
						<p>Pensé en vos, y por eso implementé una certificación segura para que utilices la geolocalización integrada, para que la webapp se adelante a vos y te ofrezca los tiempos de la estación más cercana, sin tocar nada. Por supuesto tendrás que otorgarle a tu dispositivo los permisos de geolocalización.</p>
						<p>No sólo eso, si ingresás la estación de destino podrás obtener un horario estimado de llegada. Esto funciona en pocos ramales, pronto llegará a los demás.</p>
					</div>
					<div class="col-md-4">

					</div>
				</div>
				<div class="row py-5">
					<div class="col-md-4">

					</div>
					<div class="col-md-8">
						<h3>Colaborativo</h3>
						<p>Entre todos podemos mejorar y enriquecer la experiencia de nuestros viajes.</p>
						<p>Sólo necesitás hacer una cuenta en el sistema y ya podrás reportar novedades para el resto de los usuarios.</p>
					</div>
				</div>
				<div class="row py-5">
					<div class="col-md-8">
						<h3>¡Abierto!</h3>
						<p>Un código abierto te permite saber el funcionamiento de una aplicación o servicio. Próximo Tren, desde el primer día, es de código abierto en GitHub.</p>
						<p>Si sos programador, podés contribuir con el código de la webapp y optimizarlo.</p>
						<p>Lo que sí, no se podrá mostrar el funcionamiento del crawler de la webapp, ya que se podría impedir el funcionamiento de la API por parte de SOFSE (bloquean el uso público sin razón alguna).</p>
					</div>
					<div class="col-md-4">

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="col-md-12 text-center py-4">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto" style="display:inline-block">Sólo te queda probar la webapp</h2>
			</div>
		</div>
		<div class="col-md-6 offset-md-3">
			<a href="https://proximotren.fermoto5hd.com/" class="btn btn-outline-primary btn-lg btn-block text-uppercase">¡Entrá y utilizala!</a>
		</div>
	</div>
</section>