<section class="jumbotron jumbotron-fluid jumbotron-full-height jumbotron-video flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<video preload="" muted="" autoplay="" loop="">
		<source src="assets/vid/main.mp4" type="video/mp4">
		</video>
		<div class="col-md-8 offset-md-2 text-center">
			<div>
				<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">FM5UX <span class="text-muted">v3</span></h1>
				<p><small>Anteriormente llamado FM5strap</small></p>
			</div>
			<p class="lead">El framework frontend desarrollado a medida para mis sitios y proyectos personales.</p>
			<div class="btn-group">
				<a href="/static/fm5ux/fm5ux.css" class="btn btn-outline-light">CSS para producción</a>
				<a href="https://github.com/Fermoto5HD/FM5UX/" class="btn btn-outline-light" disabled>Repositorio</a>
			</div>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container-fluid">
		<div class="row container-with-ia">
			<div class="main-container py-1">
				<div class="col-md-12">
					<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto" style="display:inline-block">¿Para qué lo hice?</h2>
					<p>La necesidad de tener un framework propio surgió por tener sitios separados que compartían el mismo layout base: Un Bootstrap v4 con una capa de estilos de muy pocas líneas.</p>
					<p>Entonces decidí juntar todo eso dentro de un framework visual y a medida de mis necesidades.</p>
				</div>
				<hr>
				<div class="col-md-12">
					<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto" style="display:inline-block">Proyectos implementados</h2>
					<div class="text-center">
						<p class="text-center">Aún no hay proyectos con FM5UX</p>
					</div>
				</div>
			</div>
			<div class="ia-container">
				<FM5-ias></FM5-ias>
			</div>
		</div>
	</div>
</section>