<FM5-jumbotron 
	image="assets/img/covers/default.jpg"
	video="assets/vid/main.mp4"

	align="left"
	column_container="col-md-8"
	maintitle="Ferrocarriles Abiertos"
	lead="Proyecto de Open Data"
	
	url_ext_1="https://ferrocarrilesabiertos.fermoto5hd.com/" url_ext_1_text="Ir al proyecto"
	url_ext_2="https://github.com/Fermoto5HD/ferrocarrilesabiertos" url_ext_2_text="Ver repositorio">
</FM5-jumbotron>

<section>
	<div class="container-fluid">
		<div class="row container-with-ia">
			<div class="main-container py-1">
				<h2>¿Por qué Open Data de ferrocarriles?</h2>
				<p>En este país hay una escasez de información relevante no sólo para usuarios, sino también para ferroaficionados. No hay datos precisos de formaciones, ni tampoco un seguimiento semanal de las mismas, y por lo general están dispersos en muchos portales.</p>
				<p>Por eso mismo comencé a hacer esta plataforma, para comenzar a centrarlizar la información y hacerlo más colaborativo sin ir a 30 foros o ir viendo videos para recabar la información (como me pasó, claramente).</p>
			</div>
			<div class="ia-container">
				<FM5-ias></FM5-ias>
			</div>
		</div>
	</div>
</section>