<section class="jumbotron jumbotron-fluid jumbotron-full-height jumbotron-video flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<video poster="assets/img/covers/portfolio.jpg" preload="" muted="" autoplay="" loop="">
			<source src="assets/vid/portfolio.min.mp4" type="video/mp4">
			<source src="assets/vid/portfolio.min.mp4" type="video/ogg">
		</video>
		<div class="col-md-8">
			<div>
				<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">Portfolio</h1>
			</div>
			<p class="lead">Estos trabajos fueron realizados con distintas metodologías, algunos han sido encargados por particulares y otros los hice por mi cuenta.</p>
			<p>Foundation, Bootstrap, jQueryUI, Angular entre otros frameworks me sirvieron de ayuda para armar los sitios que se encuentran reunidos en esta sección.</p>
			<div class="alert alert-warning">
				<strong>Atención</strong>
				<p style="margin-bottom: 0px;">Por el cambio de servidor las páginas de exhibición no estarán disponibles por el momento.</p>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row text-center">
		<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto">Habilidades</h2>
	</div>
	<div class="col-md-6 offset-md-3">
		<p class="lead">Estas habilidades las fuí adquiriendo tanto en el ámbito profesional como en el personal, y continúo haciendo research para crear mejores trabajos en menos tiempo.</p>
	</div>
	<div class="row text-center py3">
		<div class="col-md-6">
			<h3>Desarrollo web</h3>
			<p>Una web moderna necesita de tecnologías modernas.</p>
			<div class="row text-center py-5">
				<div class="col-sm-6 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-node.svg" title="Node JS" alt="Node JS" width="125" height="125" border="0" />
					<div>
						<span class="badge badge-warning">En aprendizaje</span>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-mongo.svg" title="MongoDB" alt="MongoDB" width="125" height="125" border="0" />
					<div>
						<span class="badge badge-warning">En aprendizaje</span>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-angular.svg" title="Angular/AngularJS (legacy)" alt="Angular/AngularJS (legacy)" width="125" height="125" border="0" />
					<div>
						<span class="badge badge-warning">En aprendizaje</span>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-express.svg" title="Express" alt="Express" width="125" height="125" border="0" />
				</div>
				<div class="col-sm-6 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-sass.svg" title="SCSS" alt="SCSS" width="125" height="125" border="0" />
				</div>
				<div class="col-sm-6 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-docker.svg" title="Docker" alt="Docker" width="125" height="125" border="0" />
					<div>
						<span class="badge badge-warning">En aprendizaje</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Banners interactivos</h3>
			<p>Desarrollados en HTML5, para que el usuario sea parte del anuncio.</p>
			<div class="row text-center py-5">
				<div class="col-sm-6 pb-4">
					<a href="http://goo.gl/E7EGW" target="_blank">
						<img src="assets/img/technologies/cert_qa.png" title="DoubleClick QA Certifed" alt="DoubleClick QA Certifed" width="125" height="125" border="0" />
					</a>
				</div>
				<div class="col-sm-6 pb-4">
					<a href="http://goo.gl/E7EGW" target="_blank">
						<img src="assets/img/technologies/cert_gwd.png" title="DoubleClick GWD Certified" alt="DoubleClick GWD Certified" width="125" height="125" border="0" />
					</a>
				</div>
				<div class="col-sm-6 pb-4">
					<img src="assets/img/technologies/icon-gwd.png" title="Google Web Designer" alt="Google Web Designer" width="125" height="125" border="0" />
				</div>
				<div class="col-sm-6 pb-4">
					<img src="assets/img/technologies/icon-adobe-animate.svg" title="Adobe Animate" alt="Adobe Animate" width="125" height="125" border="0" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row text-center">
		<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto">Últimos trabajos realizados</h2>
	</div>
	<FM5-portfolio size="large">
		<p>Cargando trabajos realizados...</p>
	</FM5-portfolio>
</section>