<section class="jumbotron jumbotron-fluid jumbotron-full-height flex-center-vertical p-0">
	<div class="d-flex align-items-center">
		<div class="col-md-8">
			<h1>Portfolio</h1>
			<p class="lead">Estos trabajos fueron realizados con distintas metodologías, algunos han sido encargados por particulares y otros los hice por mi cuenta.</p>
			<p>Foundation, Bootstrap, jQueryUI, Angular entre otros frameworks me sirvieron de ayuda para armar los sitios que se encuentran reunidos en esta sección.</p>
		</div>
	</div>
</section>

<div *ngIf="portfolio; then portfolioTrue else portfolioFalse"></div>

<ng-template #portfolioTrue>
  Últimos trabajos realizados
  <div class="container-fluid">
    <div class="card my-3" *ngFor="let item of portfolio">
      <div class="card-block">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-xs-center">
					<img class="img-responsive img-thumbnail" src="/assets/uploads/portfolio/{{item.image}}" alt="{{item.name}}">
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
					<h1>{{item.name}} <span *ngIf="item.version" class="text-muted">v{{item.version}}</span></h1>
					<p class="lead">{{item.description.excerpt}}</p>
					<p>{{item.description.full}}</p>
				</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #portfolioFalse>
  No hay trabajos aún.
</ng-template>
