<dollars-userinfo></dollars-userinfo>

<div class="container-fluid">
	<h2 class="text-center">Control y administración</h2>
	<div class="row shortcuts pb-2">
		<div class="col-md-3">
			<a class="shortcut" routerLink="/thedollars/blog">
				<span class="circle bg-dark">
					<i class="far fa-newspaper" aria-hidden="true"></i>
				</span>
				<h3>Blog</h3>
				<p>{{count?.blog}} artículos realizados.</p>
			</a>
		</div>
		<div class="col-md-3">
			<a class="shortcut" routerLink="/thedollars/portfolio">
				<span class="circle bg-dark">
					<i class="far fa-briefcase" aria-hidden="true"></i>
				</span>
				<h3>Portfolio</h3>
				<p>{{count?.portfolio}} trabajos expuestos.</p>
			</a>
		</div>
		<div class="col-md-3">
			<a class="shortcut" routerLink="/thedollars/inbox">
				<span class="circle bg-dark">
					<i class="far fa-envelope" aria-hidden="true"></i>
				</span>
				<h3>Consultas</h3>
				<p>{{count?.inbox}} consultas recibidas.</p>
			</a>
		</div>
	</div>
</div>