<!--section class="jumbotron jumbotron-fluid jumbotron-full-height flex-center-vertical p-0">
	<div class="video-overlay d-flex align-items-center">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<div>
					<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">Bienvenido</h1>
				</div>
				<div class="form-group">
					<div class="card">
						<div class="card-body">
							<p>Ya sabés que hacer.</p>
							<input type="email" placeholder="E-mail">
							<a href="#" class="btn btn-outline-primary">Validar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section-->
<section id="theme-thedollars">
	<div class="brand-container">
		<div class="brand-inner"></div>
	</div>
	<form [formGroup]="theForm" (ngSubmit)="onSubmit(theForm.value)">
		<div class="container-fluid">
			<div class="col-md-8 offset-md-2">
				<div class="row">
					<div class="col-md-12 py-2">
						<div class="form-group">
							<label for="username">Usuario</label>
							<input type="text" class="form-control" id="username" required name="username" formControlName="username">
						</div>
					</div>
					<div class="col-md-12 py-2">
						<div class="form-group">
							<label for="passcode">Password</label>
							<input type="password" class="form-control" id="passcode" required name="passcode" formControlName="passcode">
						</div>
					</div>
					<div class="col-md-10 offset-md-1 py-2 text-center">
						<button type="submit" class="btn btn-success">Entrar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!--form action="/api/caesarnoticeme" method="post">
		<div>
			<label>Username:</label>
			<input type="text" name="username"/>
		</div>
		<div>
			<label>Password:</label>
			<input type="password" name="password"/>
		</div>
		<div>
			<button type="submit" class="btn btn-outline-primary">Entrar</button>
		</div>
	</form-->
</section>