<div class="breadcrumb-container">
	<div class="container-fluid">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/thedollars/ikebukuro">Ikebukuro</a></li>
			<li class="breadcrumb-item active">{{section.title}}</li>
		</ul>
	</div>
</div>
<div class="jumbotron">
	<div class="container-fluid">
		<h1>{{section.cover_title}}</h1>
		<p>{{section.description}}</p>
	</div>
</div>

<div class="container-fluid">
	<div *ngIf="items; then hasItems else noItems"></div>
	<ng-template #hasItems>
		<div class="table-responsive">
			<table class="table table-hovered">
				<thead>
					<th>Trabajo</th>
					<th>Acciones</th>
				</thead>
				<tbody>
					<tr *ngFor="let item of items">
						<td>
							<p class="lead">{{item.name}}<span *ngIf="item?.version" class="text-muted"> {{item.version}}</span></p>
							<p>
								<span *ngIf="item.visible === true then itemVisible else itemHidden"></span>
								<ng-template #itemVisible>
									<span class="badge badge-success">Publicado</span>
								</ng-template>
								<ng-template #itemHidden>
									<span class="badge badge-dark">Oculto</span>
								</ng-template>
								<span *ngIf="item.featured"><span class="badge badge-success">Destacado en {{item.featured}}º lugar</span></span>
							</p>
						</td>
						<td>
							<div class="btn-group">
								<a routerLink="/thedollars/portfolio/edit/{{item.slug}}" class="btn btn-secondary">
									<i class="far fa-pencil-alt"></i>
								</a>
								<a href="#" class="btn btn-secondary disabled" disabled>
									<i class="far fa-trash-alt"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</ng-template>

	<ng-template #noItems>
		<p>No hay trabajos realizados.</p>
	</ng-template>
</div>